# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/client_build

# misc
.DS_Store
.vscode
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#environment
.env
.env.*